%h1 SongTest API

%p
  %a{:href => "http://50pop.com/songtest"} SongTest
  is an idea for a free, open song contest by
  %a{:href => "http://sivers.org"} Derek Sivers.

%p
  This site hosts a modified implementation of the RESTful API
  Derek defined, developed by
  %a{:href => "mailto:noah.heldman@gmail.com"} Noah Heldman,
  using Sinatra, DataMapper, and RSpec.
  
%p
  This is a work-in-progress, and eventually, this page will
  contain API documentation.
  
%p
  %a{:href => "https://github.com/nheldman/songtest" } GitHub Source Code